/* body { background-image: url('../../../../assets//images/pagina-inexistente.png');} */
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions { margin-right:10px; }
.btn {margin:10px;}